body {
  padding-top: 3rem;
  color: #5a5a5a;
}

.main-content h2 {
  font-weight: 400;
  font-size: 2.5em;
}

.container .featurette-divider {
  margin: 5rem 0;
}

.container .featurette-divider:first-of-type {
  margin-top: 2.2em;
}

.container .featurette-divider:last-of-type {
  margin-bottom: 2.2em;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04rem;
}

.main-content a:hover {
  text-decoration:none;
}

footer {
  padding-top: .5rem;
  background-color: #1d1d1d;
}

footer a {
  color: #ebb01b;
}

footer a:hover {
  text-decoration: none;
  color: #f0b74a;
}

.first-bg {
  background-color: #c31746;
  color: #ffffff;
}

@media (max-width: 575px) {
  .container .featurette-divider {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
